#ifndef SCRECT_H
#define SECRET_H

//Wifi-Configuration
const char* WIFI_SSID = "YourSSID";
const char* WIFI_PASSWORD = "YourPassword";

//MQTT-Configuration
const char* MQTT_SERVER = "192.168.1.10";
const int MQTT_PORT = 1883;

//OTA-Update-Configuration
const char* OTA_HOSTNAME = "hostname";
const char* OTA_PASSWORD = "password";

#endif